<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="static/icons/favicon.ico">
    <title>{{title}}</title>
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="static/css/theme.css" rel="stylesheet">
    <style type="text/css">
      .center
      {
        text-align: center;
      }
    h1 {
        font-size: 30px;
        text-align: left;
        margin-bottom: 20px;
      }
      code
      {
        font-family: monospace;
      }
    </style>
    <link href="static/css/jqueryFileTree.css" rel="stylesheet"></link>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/jqueryFileTree.js"></script>
    <script>
       {% if bug_dir %}
       $(function() {
            $("#dirlist").fileTree({
                root: "{{bug_dir}}",
                script: "{{ url_for('sfiles') }}"
            }, 
            function(file) { 
                $.post("{{ url_for('Create') }}",
                {
                    custom_url:file
                },
                function(data, status){
                    alert("Create task by " + file + "\nStatus: " + status);
                });
            });
       });
       {% endif %}
    </script>
    <script src="static/js/tabbed_form.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">{{sitename}} {% if session.username %}- User: {{session.username}} {% endif %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if not session.logged_in %}
          <form method="post" action="{{ url_for('Login') }}" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" name="BG_account" class="form-control">@vmware.com</input>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name = "BG_password"class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
      {% else %}
      <form method = "post" action = "{{url_for('Logout')}}" class="navbar-form navbar-right">
    <a href="https://vmwaresearch.vmware.com/search?proxystylesheet=vmlinksearch_frontend&getfields=*&site=People&q={{session.username}}@vmware.com" class="btn btn-info">Profile</a>
        <button type="summit" class="btn btn-success">Logout</button>
      </form>
      {% endif %}
    </nav>
    <div class="container" role="main">
        <div class="container">
    	<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="create-by-bugid-form-link">Create By Bugid</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="create-by-url-form-link">Create By URL</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<form id="create-by-bugid-form" method="post" action="{{ url_for('List') }}" role="form" style="display: block;">
                                    <h1 class="center">Create New Task</h1>
                                    <div class="input-group col-xs-12 center">    
                                        <input type="text" class="form-control" name="bugid" placeholder="Bugid from Bugzilla" required autofocus/></input>
                                        <div class="input-group-btn">
                                            <button type="summit" class="btn btn-success">Browse</button>
                                        </div>
                                    </div>
                                    {% if bug_dir %}
                                    <h3>Please Choose a vmss file to create a task</h3>
                                    {% endif %}
                                    <div id="dirlist"></div>
								</form>
								<form id="create-by-url-form" method="post" action="{{ url_for('Create') }}" role="form" style="display: none;">
                                    <h1 class="center">Create New Task</h1>
                                    <div class="input-group col-xs-12 center">    
                                        <input type="text" class="form-control" name="custom_url" placeholder="Custom core location" required autofocus/></input>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-success">Create</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 center">Any URL that <code>wget</code> can download or a local path (<code>file:///foo/bar</code> or just <code>/foo/bar</code>)</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	    </div>
        <!--
        <form id="create_by_url" method="post" action="{{ url_for('Create') }}" id="custom">
            <div class="row">
                <h1 class="center">Create New Task</h1>
                <div class="input-group col-xs-12 center">    
                    <input type="text" class="form-control" name="custom_url" placeholder="Custom core location" required autofocus/></input>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>
                <div class="col-xs-12 center">Any URL that <code>wget</code> can download or a local path (<code>file:///foo/bar</code> or just <code>/foo/bar</code>)</div>
            </div>
        </form>
       
        <form id="create_by_bugid" method="post" action="{{ url_for('List') }}" id="custom">
            <div class="row">
                <h1 class="center">Create New Task By bugid</h1>
                <BR>
                <div class="input-group col-xs-12 center">    
                    <input type="text" class="form-control" name="bugid" placeholder="Bugid from Bugzilla" required autofocus/></input>
                    <div class="input-group-btn">
                        <button type="summit" class="btn btn-success">Browse</button>
                    </div>
                </div>
            </div>
        </form>
        {% if bug_dir %}
        <h3>Please Choose a vmss file to create a task</h3>
        {% endif %}
        <div id="dirlist"></div>
        -->
      
        <div class="page-header"></div>
        <h1>All tasks</h1>
        <div id="running">
          <table class="table table-striped">
            <tr>
              <th colspan="5" class="tablename">{{running_str}}</th>
            </tr>
            <tr>
              <th class="taskid">{{taskid_str}}</th>
              <th class="caseno">{{caseno_str}}</th>
              <th>{{files_str}}</th>
              <th class="timestamp">{{starttime_str}}</th>
              <th class="status">{{status_str}}</th>
            </tr>
           {% for tool in running %}
            <tr>
	    <td class="taskid"> 
            	<a href="{{ url_for('Index') }}{{ tool["taskid"]}}">{{tool["taskid"]}}</a> 
            </td>
            <td>{{ tool["caseno"] }}</td> 
            <td>{{ tool["files"] }}</td> 
            <td>{{ tool["starttime"] }}</td>
            <td>{{ tool["status"] }}</td>
            </tr> 
           {% endfor %}
          </table>
        </div>
        <div id="finished">
          <table class="table table-striped">
            <tr>
              <th colspan="4" class="tablename">{{finished_str}}</th>
            </tr>
            <tr>
              <th class="taskid">{{taskid_str}}</th>
              <th class="caseno">{{caseno_str}}</th>
              <th>{{files_str}}</th>
              <th class="timestamp">{{finishtime_str}}</th>
            </tr>
            <BR>
	   {% for tool in finish %}
            <tr class="{{ tool["status"] }}"> 
            <td class="taskid"> 
            	<a href="{{ url_for('Index') }}{{ tool["taskid"]}}">{{tool["taskid"]}}</a> 
            </td>
            <td>{{ tool["caseno"] }}</td> 
            <td>{{ tool["files"] }}</td> 
            <td>{{ tool["finishtime"] }}</td>
            </tr> 
           {% endfor %}
          </table>
        </div>
    </div>
  </body>
</html>
